{% extends "base.html" %}

{% block title %}Search Cards - Cards-Inator{% endblock %}

{% block content %}
<h2>Cards Search</h2>
<form method="POST">
    <input type="text" name="search_query" placeholder="Enter Card Name">

    <div class="ink-filters">
        <label class="ink-option amber">
            <input type="checkbox" name="ink" value="Amber">
        </label>
        <label class="ink-option amethyst">
            <input type="checkbox" name="ink" value="Amethyst">
        </label>
        <label class="ink-option emerald">
            <input type="checkbox" name="ink" value="Emerald">
        </label>
        <label class="ink-option ruby">
            <input type="checkbox" name="ink" value="Ruby">
        </label>
        <label class="ink-option sapphire">
            <input type="checkbox" name="ink" value="Sapphire">
        </label>
        <label class="ink-option steel">
            <input type="checkbox" name="ink" value="Steel">
        </label>
    </div>

    <button type="submit">Search</button>
</form>

<div id="results">
    {% for card in results %}
        <div class="card">
            <h2>{{ card.get('name') }}</h2>
            <img src="{{ card.get('image_uris', {}).get('digital', {}).get('small') }}">
            <p>{{ card.get('set', {}).get('name') }}</p>
            <div class="card-actions">
                {% if card.in_collection %}
                    <button class="remove-from-collection">-</button>
                {% endif %}
                <button class="add-to-collection">+</button>
                {% if card.count > 0 %}
                    <span class="card-count">{{ card.count }}</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}