{% extends "base.html" %}

{% block title %}Search Cards - Cards-Inator{% endblock %}

{% block content %}
<h2>Cards Search</h2>
<form method="POST">
    <input type="text" name="search_query" placeholder="Enter Card Name" value="{{ search_query }}">

    <div class="ink-filters">
        {% for ink_color in ["Amber", "Amethyst", "Emerald", "Ruby", "Sapphire", "Steel"] %}
            <div class="ink-option">
                <input type="checkbox" id="{{ ink_color.lower() }}" name="ink" value="{{ ink_color }}"
                    {% if ink_color in selected_inks %}checked{% endif %}>
                <label for="{{ ink_color.lower() }}" class="ink-box {{ ink_color.lower() }}" data-ink="{{ ink_color }}"></label>
            </div>
        {% endfor %}
    </div>

    <button type="submit">Search</button>
</form>

<div id="results">
    {% for card in results %}
        <div class="card" data-card-id="{{ card.get('id') }}">
            <h2>{{ card.get('name') }}</h2>
            <img src="{{ card.get('image_uris', {}).get('digital', {}).get('small') }}">
            <p>{{ card.get('set', {}).get('name') }}</p>
            <div class="card-actions">
                {% if card.in_collection %}
                    <button class="remove-from-collection">-</button>
                {% endif %}
                <button class="add-to-collection">+</button>
                {% if card.count > 0 %}
                    <span class="card-count">{{ card.count }}</span>
                {% endif %}
                <button class="add-to-wishlist"></button>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}